<!-- footer -->

<section class="w3l-footer-29-main">
  <div class="footer-29 py-5">
    <div class="container py-md-4">
      <div class="row footer-top-29">
        <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
          <h6 class="footer-title-29">Sciaku Education </h6>
          <p>This website provides you a technical and programming content like Java Programming, Python Programming, C Programming,
            PHP Programming, Android Development, MEAN Stack, MERN Stack, Web Development, etc. Learn how to make software, website,
            and applications here.</p>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-5 col-6 footer-list-29 footer-2 mt-sm-0 mt-5">
          <ul>
            <h6 class="footer-title-29">Abouts</h6>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact"> Contact Us</a></li>
            <li><a routerLink="/myresume"> My Resume </a></li>
            <li><a routerLink="/courses"> Online Courses</a></li>
            <li><a routerLink="/contact"> Get in touch</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-5 col-6 footer-list-29 footer-3 mt-lg-0 mt-5">
          <h6 class="footer-title-29">Useful Links</h6>
          <ul>
            <li><a  target="_blank" href="https://www.youtube.com/@sciaku/">Youtube </a></li>
            <li><a target="_blank" rel="noreferrer" href="https://www.instagram.com/sciaku_science_knowledge/">Instagram</a></li>
            <li><a rel="noreferrer" target="_blank" href="https://www.facebook.com/gyan.prakash.7985/">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/gyan-prakash-686740220/" rel="noreferrer" target="_blank"> Linkedin</a></li>
            <li><a routerLink="/contact"> Help Center</a></li>
          </ul>

        </div>
        <div class="col-lg-3 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
          <h6 class="footer-title-29">Contact Info </h6>
          <p>Address : Lucknow, Uttar Pradesh, India</p>
          <p class="my-2">Phone : <a href="tel:+91(81) 749 81805">+ 81 749 81805</a></p>
          <p>Email : <a href="mailto:info@sciaku.com">info@sciaku.com</a></p>
          <div class="main-social-footer-29 mt-4">
            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
            <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
          <h6 class="footer-title-29">Suppport</h6>
          <a href="#playstore"><img src="assets/images/googleplay.png" class="img-responsive" alt=""></a>
          <a href="#appstore"><img src="assets/images/appstore.png" class="img-responsive mt-3" alt=""></a>
        </div> -->
      </div>
    </div>
  </div>
  <!-- copyright -->
  <section class="w3l-copyright text-center">
    <div class="container">
      <p class="copy-footer-29">© 2023 Sciaku. All rights reserved. Designed by <a href="https://aeromus-gyan.web.app/"
          target="_blank">
          Gyan Prakash</a></p>
    </div>