<!-- about breadcrumb -->
<section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container pt-lg-5 pt-3 p-lg-4 pb-3">
            <h2 class="title mt-5 pt-lg-5 pt-sm-3">Your Profile Details</h2>
        </div>
    </div>
    <!-- <div class="waveWrapper waveAnimation">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none">
            <path d="M-5.07,73.52 C149.99,150.00 299.66,-102.13 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none;"></path>
        </svg>
    </div> -->
</section>
<mat-card class="p20" *ngIf="user">
    <!-- {{user|json}} -->
    <div *ngIf="editMode">
        <mat-card-content>
            <div class="bootstrap-wrapper">
                <div class="container">
                    <div class="container text-center image">
                        <img class="profile-image" [src]="imageURL" alt="" accept="image/*">
                        <h1 class="mt20 text-capitalize">{{user.firstname}} {{user.lastname}}</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <table class="table">
                                <tr>
                                    <td>Username</td>
                                    <td>{{user.username}}</td>
                                </tr>
                                <tr>
                                    <td>Userid</td>
                                    <td>{{user.id}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    <td>{{user.contact}}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td>{{user.city}}</td>
                                </tr>
                                <tr>
                                    <td>Role</td>
                                    <td>{{user.authorities[0].authority}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td><span class="status">{{user.status?"Active":"Inactive"}}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="container w100">
                <div class="row">
                    <div class="col-md-2 offset-md-5">
                        <button mat-raised-button color="accent" (click)="onEdit(1)">Edit</button>
                    </div>
                </div>
            </div>
        </mat-card-actions>
    </div>
    <div *ngIf="!editMode" class="container">
        <!-- <h1>Update Your Profile Details</h1> -->
        <!-- {{member|json}}<br> -->
        <!-- {{user|json}} -->
        <!-- //about breadcrumb -->
        <section class="w3l-loginblock pb-5" id="contact">
            <div class="contacts-9 pb-lg-5 pb-md-4">
                <div class="container">
                    <div class="top-map">
                        <div class="map-content-9">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>Firstname</mat-label>
                                            <input type="firstname" name="firstname" [(ngModel)]="user.firstname"
                                                matInput placeholder="Enter here">
                                            <mat-icon matPrefix>account_circle</mat-icon>
                                            <mat-error>firstname is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>Lastname</mat-label>
                                            <input type="lastname" name="lastname" [(ngModel)]="user.lastname" matInput
                                                placeholder="Enter here">
                                            <mat-icon matPrefix>account_circle</mat-icon>
                                            <mat-error>Lastname is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>Email</mat-label>
                                            <input type="email" name="email" [(ngModel)]="user.email" matInput
                                                placeholder="Enter here">
                                            <mat-icon matPrefix>account_circle</mat-icon>
                                            <mat-error>Email is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>Phone Number</mat-label>
                                            <input type="contact" name="contact" [(ngModel)]="user.contact" matInput
                                                placeholder="Enter here">
                                            <mat-icon matPrefix>account_circle</mat-icon>
                                            <mat-error>Phone Number is required</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="full-width" appearance="outline">
                                            <mat-label>Address</mat-label>
                                            <input type="city" name="city" [(ngModel)]="user.city" matInput
                                                placeholder="Enter here">
                                            <mat-icon matPrefix>account_circle</mat-icon>
                                            <mat-error>City is required</mat-error>
                                        </mat-form-field>
                                    </div>   
                                    <div class="col-md-6">
                                        <div *ngIf="imgUpload">
                                            <label class="upload"><img [src]="imgUpload" alt=""></label>
                                            <button mat-button (click)="upload()"
                                                [disabled]="!selectedFiles">Upload</button>
                                        </div>
                                        <label for="image" class="upload"><img
                                                src="./../../../assets/images/sciaku-upload.png" alt=""><span>Browse
                                                image</span></label>
                                        <input id="image" multiple type="file" value="select" #selectFile
                                            (change)="onFileSelected($event)">
                                        <div *ngIf="currentFile" class="progress">
                                            <div class="progress-bar progress-bar-info progress-bar-striped"
                                                role="progressbar" attr.aria-valuenow="{{ progress }}" aria-valuemin="0"
                                                aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                                                {{ progress }}%
                                            </div>
                                        </div>
                                        <div class="alert alert-light" role="alert">{{ message }}</div>
                                    </div>
                                </div>
                                <mat-card-actions>
                                    <div class="container w100">
                                        <div class="row">
                                            <div class="col-md-1 offset-md-4">
                                                <button mat-raised-button color="primary"
                                                    (click)="updateUser()">Update</button>
                                            </div>
                                            <div class="col-md-2">
                                                <button mat-raised-button color="accent" class="ml10"
                                                    (click)="onEdit(0)">Back to Profile</button>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-actions>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</mat-card>